.card {
  max-width: 676px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.heading {
  font-size: 28px;
  line-height: 33px;
  margin: 0;
  font-family: var(--font-bold);
}

.subtitle {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  font-family: var(--font-regular);
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 1px;
  margin: 0;
  padding: 0;
}

.like {
  background: rgb(4 4 5 / 4%);
  display: flex;
  gap: 6px;
  border: none;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 8px 8px 12px;
  height: 27px;
  font-family: var(--font-regular);
  max-width: 97px;
}

.like:first-of-type {
  border-radius: 50px 0 0 50px;
}

.like:last-of-type {
  border-radius: 0 50px 50px 0;
}

.text {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  font-family: var(--font-regular);
}

.number {
  color: rgb(4 4 5);
  font-size: 14px;
  line-height: 17px;
  font-family: var(--font-regular);
}

.link {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  color: var(--text-color-light);
  background-color: transparent;
  border: none;
  font-family: var(--font-regular);
  cursor: pointer;
}

.link:hover {
  border-bottom: .5px solid rgba(255, 107, 0, 0.3);
}

.date {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  color: rgb(4 4 5 / 22%);
  font-family: var(--font-regular);
}

.list {
  display: flex;
  margin: 0;
  gap: 4px;
  list-style: none;
  padding: 0;
}

.item {
  padding: 4px;
  background-color: rgb(120 120 128 / 8%);
  font-family: var(--font-regular);
}